<!-- /////// Navbar avant exo directives /////// -->
<!-- <nav>
    <ul>
        <li><a routerLink="/"> Accueil </a></li>
        <li>   
            <a routerLink="/demo">Demo</a>

            <ul>
                <li><a routerLink="/demo/demo1">Demo 1 - Les Bindings</a></li>
                <li><a routerLink="/demo/demo2">Demo 2 - Les Pipes</a></li>
                <li><a routerLink="/demo/demo3">Demo 3 - Les Directives</a></li>
            </ul>
        
        </li>
        <li>
            <a routerLink="/exercice">Exercice</a>
            <ul>
                <li><a routerLink="/exercice/exo1">Exercice 1 - Le timer</a></li>
            </ul>
        </li>
    </ul>
</nav> -->

<!-- /////// Navbar après exo directives /////// -->
<nav>
    <ul>
        <li *ngFor="let link of links; let i = index">
            <a [ngClass]="{active: link.isVisible}" (click)="toggleLink(i)" [routerLink]="link.url">{{link.title}}</a>
            <ul *ngIf="link.isVisible">
                <li *ngFor="let child of link.children">
                    <a [routerLink]="child.url">{{child.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
    <div *ngIf="!connectedUser">
        <a routerLink="/demo/login"><button>Se connecter</button></a>
    </div>
    <div *ngIf="connectedUser">
        <div>Bonjour {{connectedUser.firstname}}</div>
        <button (click)="disconnect()">Se deconnecter</button>
    </div>
</nav>