<h2>Nos musiques fav tmtc ♥</h2>
<div class="chapter">
    <a routerLink="/demo/ajoutMusique"><button>Ajouter une musique</button></a>

    <div class="music-card" *ngFor="let music of listMusic">
        <img [src]="music.pochette" [alt]="'pochette de l\'album ' + music.album">
        <div>
            <div>{{music.titre}}</div>
            <div>{{music.artiste}}</div>
            <div>{{music.album}} - {{music.sortie}}</div>
            <div>
                <a routerLink="/demo/editMusique/{{music.id}}"><button>📝</button></a>
                <button (click)="delete(music.id)">🗑</button>
            </div>
        </div>
    </div>
</div>