<div class="pokedex">
    <div class="pokedex-inside">
        <div class="pkm-left">
            <div class="name">
                <p *ngIf="!pokemon">Nom du Pokemon</p>
                <p *ngIf="pokemon"> {{pokemon.name | titlecase}}</p>
            </div>
            <div class="img">
                <img *ngIf="!pokemon" src="https://66.media.tumblr.com/tumblr_mai132OrFS1rfjowdo1_500.gif" alt="">
                <img *ngIf="pokemon" [src]="pokemon.sprites.front_default" [alt]=" 'front' + pokemon.name">
                <img *ngIf="pokemon" [src]="pokemon.sprites.back_default" [alt]=" 'back' + pokemon.name">
            </div>
            <div class="infos">
                <p>N° <span *ngIf="!pokemon">XXX</span> <span *ngIf="pokemon">{{pokemon.id}}</span></p>
                <p>Poids : <span *ngIf="!pokemon">X</span> <span *ngIf="pokemon">{{pokemon.weight / 10}}</span> kg</p>
                <p>Taille : <span *ngIf="!pokemon">X</span> <span *ngIf="pokemon">{{pokemon.height * 10}}</span> cm </p>
            </div>
        </div>
        <div class="pkm-right">
            <div *ngIf="!pokemons" class="pkm-list">
                <p *ngFor="let setup of setUpList" class="pkm-select">{{setup}}</p>
            </div>

            <div *ngIf="pokemons" class="pkm-list">
                <ul>
                    <li *ngFor="let pokemonSimple of pokemons.results">
                        <p (click)="getOne(pokemonSimple.url)" class="pkm-select">{{pokemonSimple.name | titlecase}}</p>
                    </li>
                </ul>
            </div>


            <div class="buttons">
                <button (click)="prev()" [disabled]="pokemons.previous == null">
                    ⬆
                </button>
                <button (click)="next()" [disabled]="pokemons.next == null">
                    ⬇
                </button>
            </div>
        </div>
    </div>
</div>