.pokedex {
    background-color: red;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 25px;
    border: 3px solid black;

    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Pokemon;
    font-size: 12px;
}

.pokedex-inside {
    background-color: rgb(240, 240, 240);
    width: 90%;
    height: 90%;
    border-radius: 25px;
    border: 4px solid black;

    
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.pkm-left {
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pkm-right {
    width: 40%;
    height: 95%;
    border: 4px solid black;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;

    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(147,4,53,0) 10%);
}

.pkm-list {
    padding-left: 15%;
    width: 70%;
}

.buttons {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    margin: 20% 0;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 5px;
    border: 4px solid black;
}

li {
    list-style: none;
}
ul {
    padding : 0;
}

button:disabled {
    background-color: darkgray;
}

.name {
    border: 4px solid black;
    border-radius: 20px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(147,4,53,0) 10%, rgba(166,3,44,0) 90%, rgba(255,0,0,1) 100%);
}
.img{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img {
    width: 50%;
}
.infos {
    border: 4px solid black;
    border-radius: 20px;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(147,4,53,0) 10%, rgba(166,3,44,0) 90%, rgba(255,0,0,1) 100%);

    
}

.pkm-select:hover {
    color : red;
}