<h2>Demo Auth - Interceptor</h2>
<div class="chapter">
    <ul>
        <li *ngFor="let user of users">
            {{user.firstname}} {{user.lastname}}
        </li>
    </ul>

    <div *ngIf="unauthorized">VOUS N'ETES PAS AUTORISÉ 😠</div>
</div>
