<h2>Ajouter une musique</h2>
<div class="chapter">
    <a routerLink="/demo/demo9">Retour aux musiques</a>
    <form [formGroup]="ajoutForm" (ngSubmit)="add()">
        <div>
            <input type="text" placeholder="Titre" formControlName="titre">
        </div>
        <div>
            <input type="text" placeholder="Artiste" formControlName="artiste">
        </div>
        <div>
            <input type="text" placeholder="Album" formControlName="album">
        </div>
        <div>
            <input type="number" placeholder="Année de sortie" formControlName="sortie">
        </div>
        <div>
            <input type="text" placeholder="Url Image" formControlName="pochette" >
        </div>

        <input type="submit" value="Créer la musique">
    </form>
</div>
