<div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <input type="text" placeholder="Pseudo ou Email" formControlName="credential">
        </div>
        <div>
            <input type="password" placeholder="Mot de passe" formControlName="password">
        </div>
        <div>
            <input type="submit" value="Se connecter">
        </div>

        <a routerLink="/demo/register">Pas de compte ? Cliquez ici pour en créer un </a>
    </form>
</div>
