.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 1px solid black;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input {
    margin : 5% 0
}