<h2>HttpClient : Les requêtes</h2>
<div class="chapter">

    <div>
        <input type="text" [(ngModel)]="prenom" placeholder="Entrez prénom">
        <select [(ngModel)]="codePays">
            <option value="">Choisissez un pays</option>
            <option value="BE">Belgique</option>
            <option value="FR">France</option>
            <option value="DE">Allemagne</option>
            <option value="CH">Suisse</option>
            <option value="US">Etats-Unis</option>
        </select>
        <button (click)="lancerRecherche()">Rechercher</button>
    </div>

    <div *ngIf="genderify">
        <p>{{genderify.name | titlecase}} a {{genderify.probability*100}}% de chances d'être <span *ngIf="genderify.gender === 'male'">un homme</span><span *ngIf="genderify.gender === 'female'">une femme</span></p>
    </div>

</div>
