/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Pokemon;
    src: url(./assets/fonts/PressStart2P-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
}

.chapter {
    background-color: rgb(206, 230, 206);
    padding: 1% 2%;
    width: 70vw;
    margin-bottom: 2%;
}

button {
    background-color: black;
    margin: 1%;
    border: 1px solid black;
    padding: 0.5% 2%;
    color : white;
}

button:hover {
    background-color: white;
    color : black
}

button:disabled {
    background-color: rgb(190, 190, 190);
    color: rgb(129, 129, 129);
    border : 1px solid rgb(129,129,129)
}

h2 {
    color: rgb(86, 110, 86);

}

.txt-error {
    margin: 0 1%;
    font-size: small;
    color : darkred;
    font-style: italic;
}